name: Check User in Jenkins

on:
  workflow_dispatch:
    inputs:
      username:
        description: 'Username to check'
        required: true

jobs:
  trigger-jenkins:
    runs-on: ubuntu-latest
    steps:
      - name: Call Jenkins API
        run: |
          curl -X POST "https://https://smee.io/tMCPpHgcyuqMQZ9Z/job/check-user/buildWithParameters" \
          --user "jenkins_user:11fd9d25ce0703231318fd51ece6c8c33c" \
          --data "USERNAME=${{ github.event.inputs.username }}"
